.Navbar{
    h1{
        font-family: 'Montserrat';
        font-weight: 900;
        text-align: center;
        color: #279EFF;
        -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0C356A;

    }
    width: 100%;
    border-bottom: 2px solid gray;  
    margin-bottom: 25px;
    cursor: pointer; 
}
